<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/eclipse-cbi/targetplatform-dsl -->
<target name="eclipse-capra-e4.14" sequenceNumber="1614711673">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.cdt.sdk.feature.group" version="9.10.0.201912051559"/>
      <unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="9.10.0.201910161455"/>
      <unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.3.9.201911051515"/>
      <unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.12.0.v20190924-0817"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="2.20.0.v20191028-0905"/>
      <unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="4.6.0.201912110926"/>
      <unit id="org.eclipse.php.feature.group" version="7.0.0.201912041612"/>
      <unit id="org.eclipse.xtext.sdk.feature.group" version="2.20.0.v20191202-1256"/>
      <unit id="org.eclipse.mylyn.gerrit.feature.feature.group" version="2.15.0.v20180322-1946"/>
      <unit id="org.eclipse.mylyn.hudson.feature.group" version="1.16.0.v20180403-2055"/>
      <unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
      <unit id="org.eclipse.xtend.sdk.feature.group" version="2.20.0.v20191202-1256"/>
      <unit id="org.eclipse.pde.source.feature.group" version="3.14.200.v20191210-0610"/>
      <repository id="eclipse-2019-12" location="http://download.eclipse.org/releases/2019-12/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
      <unit id="org.apache.xmlbeans" version="2.3.0.v201605172150"/>
      <unit id="com.google.guava" version="27.1.0.v20190517-1946"/>
      <unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
      <unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
      <unit id="org.apache.poi" version="3.9.0.v201405241750"/>
      <unit id="com.fasterxml.jackson.core.jackson-core" version="2.9.9.v20190906-1522"/>
      <unit id="org.slf4j.api" version="1.7.10.v20170428-1633"/>
      <unit id="ch.qos.logback.slf4j" version="1.1.2.v20160301-0943"/>
      <repository id="eclipse-orbit-2019-12" location="https://download.eclipse.org/tools/orbit/downloads/drops/R20191126223242/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.mortbay.jetty.util" version="6.1.23.v201012071420"/>
      <unit id="org.mortbay.jetty.server" version="6.1.23.v201012071420"/>
      <repository id="eclipse-orbit-mars2" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.sphinx.sdk.feature.group" version="0.9.2.201601200932"/>
      <repository location="http://download.eclipse.org/sphinx/releases/0.9.x"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.13.0.201509161042"/>
      <repository location="http://download.eclipse.org/rmf/updates/releases"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="net.sourceforge.plantuml.feature.feature.group" version="1.1.24"/>
      <repository id="plantuml" location="http://hallvard.github.io/plantuml/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="de.ovgu.featureide.featuremodeling.feature.group" version="3.7.0.202010141034"/>
      <repository id="feature-ide" location="http://featureide.cs.ovgu.de/update/v3/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.app4mc.platform.sdk.feature.group" version="1.0.0.202011301553"/>
      <repository id="APP4MC" location="http://download.eclipse.org/app4mc/updatesites/releases/1.0.0/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.ease.feature.feature.group" version="0.7.0.I201907120558"/>
      <unit id="org.eclipse.ease.ui.feature.feature.group" version="0.7.0.I201907161104"/>
      <repository id="EASE" location="http://download.eclipse.org/ease/release/0.7.0"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="ode.concept.deis.feature.feature.group" version="1.0.0.202101251505"/>
      <repository id="ODE" location="https://digital-dependability-identities.github.io/ODE_Editor/"/>
    </location>
  </locations>
</target>
