<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="Neon" sequenceNumber="77">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.gef4.common.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.geometry.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.fx.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.mvc.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.mvc.examples.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.layout.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.graph.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.zest.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.zest.examples.source.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.dot.sdk.feature.group" version="0.0.0"/>
<unit id="org.eclipse.gef4.cloudio.sdk.feature.group" version="0.0.0"/>
<repository location="http://download.eclipse.org/tools/gef/gef4/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.mortbay.jetty.util" version="6.1.23.v201012071420"/>
<unit id="org.mortbay.jetty.server" version="6.1.23.v201012071420"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160221192158/repository/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rmf.reqif10.sdk.feature.feature.group" version="0.13.0.201509161042"/>
<unit id="org.eclipse.rmf.reqif10.pror.sdk.feature.feature.group" version="0.13.0.201509161042"/>
<repository location="http://download.eclipse.org/rmf/updates/releases"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.php.feature.group" version="4.2.0.201611142355"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.ecore.xcore.sdk.feature.group" version="1.4.0.v20160526-0606"/>
<unit id="org.eclipse.mylyn.ide_feature.feature.group" version="3.21.0.v20160912-1820"/>
<unit id="org.eclipse.gef.sdk.feature.group" version="3.11.0.201606061308"/>
<unit id="org.eclipse.cdt.testsrunner.feature.feature.group" version="9.2.0.201612061315"/>
<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="2.0.2.201612071107"/>
<unit id="org.eclipse.cdt.sdk.feature.group" version="9.2.0.201612061315"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="3.2.1.201608311750"/>
<unit id="org.eclipse.mylyn_feature.feature.group" version="3.21.0.v20160914-0252"/>
<unit id="org.eclipse.mylyn.hudson.feature.group" version="1.13.0.v20160806-1446"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.zest.sdk.feature.group" version="1.7.0.201606061308"/>
<unit id="org.eclipse.mylyn.trac_feature.feature.group" version="3.21.0.v20160630-2019"/>
<unit id="org.eclipse.pde.source.feature.group" version="3.12.3.v20170301-0400"/>
<repository location="http://download.eclipse.org/releases/neon"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="de.ovgu.featureide.featuremodeling.feature.group" version="3.7.0.202010141034"/>
<repository location="http://featureide.cs.ovgu.de/update/v3/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.apache.poi.ooxml" version="3.9.0.v201405241905"/>
<unit id="org.slf4j.api" version="1.7.2.v20121108-1250"/>
<unit id="org.apache.xmlbeans" version="2.3.0.v201605172150"/>
<unit id="com.google.guava" version="15.0.0.v201403281430"/>
<unit id="com.google.guava.source" version="15.0.0.v201403281430"/>
<unit id="org.apache.commons.collections" version="3.2.2.v201511171945"/>
<unit id="org.apache.poi.ooxml.schemas" version="3.9.0.v201405241750"/>
<unit id="ch.qos.logback.slf4j" version="1.0.7.v201505121915"/>
<unit id="org.apache.poi" version="3.9.0.v201405241750"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.5.0.v201504151636"/>
<unit id="javax.xml.bind" version="2.2.0.v201105210648"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="net.sourceforge.plantuml.feature.feature.group" version="1.1.24"/>
<repository location="http://hallvard.github.io/plantuml/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="https://download.eclipse.org/ease/release/0.6.0/"/>
<unit id="org.eclipse.ease.feature.feature.group" version="0.6.0.I201802271533"/>
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.6.0.I201804241621"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/app4mc/updatesites/releases/0.9.5/"/>
<unit id="org.eclipse.app4mc.platform.sdk.feature.group" version="0.9.5.201907311248"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/tools/orbit/R-builds/R20170307180635/repository"/>
<unit id="org.apache.commons.math3" version="3.5.0.v20160301-1110"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="planner" includeSource="true" type="InstallableUnit">
<repository location="http://download.eclipse.org/modeling/tmf/xtext/updates/composite/releases/"/>
<unit id="org.eclipse.xtext.sdk.feature.group" version="2.15.0.v20180916-1232"/>
</location>
</locations>
</target>