<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2016, 2019 Chalmers | University of Gothenburg, rt-labs and others.
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v2.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v20.html
     
    SPDX-License-Identifier: EPL-2.0
     
    Contributors:
         Chalmers | University of Gothenburg and rt-labs - initial API and implementation and/or initial documentation
         Chalmers | University of Gothenburg - additional features, updated API
 -->

<plugin>
   <extension-point id="org.eclipse.capra.configuration.traceabilityMetaModel" name="Traceability Meta-Model" schema="schema/org.eclipse.capra.configuration.traceabilityMetaModel.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.persistenceHandler" name="Trace Persistence Handler" schema="schema/org.eclipse.capra.configuration.persistenceHandler.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.artifactHandlers" name="Artifact Handlers" schema="schema/org.eclipse.capra.configuration.artifactHandlers.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.priorityHandlers" name="Priority Handlers for Artifact Handlers" schema="schema/org.eclipse.capra.configuration.priorityHandlers.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.artifactMetaModel" name="Artifact Meta-Model" schema="schema/org.eclipse.capra.configuration.artifactMetaModel.exsd"/>
   <extension-point id="org.eclipse.capra.configuration.traceMetadata" name="Metadata provider for trace links" schema="schema/org.eclipse.capra.configuration.traceMetadata.exsd"/>
   <extension point="org.eclipse.emf.transaction.editingDomains">
      <editingDomain
         id="org.eclipse.capra.core.EditingDomain"
         factory="org.eclipse.capra.core.editingDomain.EditingDomainFactory"/>
   </extension>
</plugin>
